{{#each countries}}
  <li class='country-item'>
    <div class='country-icon'>
      <img src={{country.flags.svg}} alt={{country.name.common}} />
    </div>
    <p class='country-name'>{{country.name.common}}</p>
  </li>
{{/each}}