* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

ul,
li,
p {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
.country-item {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.country-icon {
  width: 20px;
  height: 15px;
}
.country-name {
  margin-left: 10px;
}
.info-title {
  display: flex;
  align-items: center;
}
.info-icon {
  width: 50px;
  height: 30px;
  margin-left: 10px;
}
.info-country-name {
  font-weight: bold;
  font-size: 22px;
  margin-left: 10px;
}
.stats {
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
}
.info p {
  margin-top: 10px;
}
